@charset "UTF-8";

:root {
    --cor001: #020124;
    --cor002: #29314D;
    --cor003: #3E4C7A;
    --cor004: #1B3280;
    --cor005: #284CBF;

}
/*body {
    padding: 10px 1px;
    background-color: var(--cor001);
    
}*/
h1 {
    color: white;
    display: flex;
    justify-content: center;
    
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; /* Garante que o vídeo cubra a largura da tela */
    min-height: 100%; /* Garante que o vídeo cubra a altura da tela */
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    height: 40vh;

}

.content > p {
    margin: 0;
    padding: 0.5em;
    font-size: 5vw;
}

.back-button {
    padding: 10px;
    border: none;
    background-color: transparent;
}
.back-button > img {
    width: 3em;
    height: 3em;
}

h2 {
    color: white;
}

.description > p {
    color: var(--cor005);
}

.card1 {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: 1px solid var(--cor003);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 70dvw;
    min-height: 210px;
    margin: 10px 0px;
    position: center;
}

.card2 {
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid var(--cor003);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100dvw;
    max-width: 70dvw;
    margin: 20px 0px;
}
.description {
    padding: 20px;
    flex: 1;
    min-width: 200px;
}

.image {
    min-width: 400px;
    flex: 1;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}